nav {
    margin-top:20px;
    
    
}
nav a {
    padding:10px;
    display:flex;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0;
    justify-content:center;
}
nav a:hover {
    color: black;
}
body {
    background-color: #0808;
}